.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 10px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

.preference{
  display: block;
  grid-area: 0/0/1/1;
  text-align: center;
  width: 100%;
}

.pref-text{
  width: 90%;
}

tr:last-child{
  border-bottom: none;
}
